<%- include("./includes/header.ejs"); -%>
<%- include("./includes/navbar.ejs"); -%>

<div class="container">
  <br>
  <h4>Lista de Games:</h4>
  <hr/>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Jogo</th>
        <th scope="col">Lançamento</th>
        <th scope="col">Valor</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody id="games"></tbody>
  </table>
</div>
  
<%- include("./includes/footer.ejs"); -%>
 
<script>
  axios.get("http://localhost:4567/games").then(response => {

    var games = response.data.jogos;
    var list = document.getElementById("games");

    games.forEach(game => {
      var item = document.createElement("tr");
      item.innerHTML = `
                        <tr>
                          <td>${game.id}</td>
                          <td>${game.title}</td>
                          <td>${game.year}</td>
                          <td>${game.price} R$</td>
                          <td>
                            <a href="/views/consultar/${game.id}" class="btn btn-primary" title="Editar">
                              <i class="ri-file-edit-fill"></i>
                            </a>
                            <button type="button" class="btn btn-danger" onclick="deletarReg(${game.id});" title="Deletar">
                              <i class="ri-chat-delete-fill"></i>
                            </button>
                          </td>
                        </tr>
                        `;

      list.appendChild(item);
    });

  }).catch(e => {
    console.log(e);
  });

  function deletarReg(id) {
    let del = confirm(`Deseja realmente deletar o registro ${id} ?`);

    if(del == true) {
      axios.delete("http://localhost:4567/game/"+id).then(response => {
        alert(response.data.Mensagem);
        window.location.href = "http://localhost:4567/views/";

      }).catch(e => {
        alert(e.response.data.Mensagem);
      });
    }
  } 
</script>